# Python virtualenv
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# Env files
*.env

# Alembic cache & compiled files
backend/alembic/__pycache__/
backend/alembic/versions/__pycache__/
backend/alembic/alembic.ini

# Pydantic compiled config cache
backend/app/__pycache__/

# Frontend dependencies and build
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE junk
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS-specific
Thumbs.db

# TypeScript cache (optional)
*.tsbuildinfo
